{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    <div class="container jumbotron jumbotron-liquid jumbo_mod"
         style="background-color: #770000; max-width: 1300px;">
        <h1 class="txt_mod">
            <img src="{{ user.userprofile.image.url }}" class="img_mod">

            {{ user.username }}
        </h1>

        <p><b>Name: </b>{{ user.first_name }}</p>
        <p><b>Last name: </b>{{ user.last_name }}</p>
        <p><b>Country: </b>{{ user.userprofile.country }}</p>
        <p><b>In game name: </b>{{ user.userprofile.game_tag }}</p>
        <p><b>Region: </b>{{ user.userprofile.region }}</p>
        <p><b>Ranked Flex: </b>{{ user.userprofile.ranked_flex }}</p>
        <p><b>Wins in flex queue: </b>{{ user.userprofile.wins_flex }}</p>
        <p><b>Losses in flex queue: </b>{{ user.userprofile.losses_flex }}</p>
        <p><b>Ranked SoloQ: </b>{{ user.userprofile.ranked_solo }}</p>
        <p><b>Wins in solo queue: </b>{{ user.userprofile.wins_solo }}</p>
        <p><b>Wins in solo queue: </b>{{ user.userprofile.losses_solo }}</p>
        <p><b>Description: </b>{{ user.userprofile.description }}</p>
    </div>
{% endblock %}