
.header_mod{
    background-color: #8b0000;
    height: 88px;
}

.btn_home{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 68px;
    width: 68px;
    background-image: url('/media/images/home.jpg');
    background-size: 100%;
    background-repeat: space;
}

.src_box_home {
    display: inline-block;
    position: absolute;
    left: 256px;
    top: 24px;
    width: 300px;
    height: 40px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
}

.btn_src_box_home {
    display: inline-block;
    position: absolute;
    left: 250px;
    top: 0px;
    width: 80px;
    height: 40px;
}

.btn_login {
    position: absolute;
    top: 19px;
    right: 120px;
}

.btn_signup {
    position: absolute;
    top: 19px;
    right: 16px;
}

.btn_profile {
    position:absolute;
    top: 19px;
    right: 185px;
}